.App {
  color: #2C8EBB;
  border-radius: 10px;
  background: #fff;
  margin: 2em;
  width: 100vw;
  height: 100%;
  min-height: 20em;
  min-width: 32em;
  box-shadow: 4px 6px 11px 1px rgba(0,0,0,0.5);
  position: relative;
  display: flex;
  justify-content: center;
}
.App > aside {
  min-width: 300px;
  width: 15vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: url("https://www.toptal.com/designers/subtlepatterns/patterns/carbon_fibre_v2.png");
  border-radius: 10px 0 0 10px;
  

}
.App > aside .leftAside{
  flex-grow: 1;
}
.App > aside  button {
  flex-grow: 0;
  font-size: 2em;
  background: transparent;
  border-width: 0px;
  color: #2C8EBB;
  cursor: pointer;
  padding: 20px 0;
  border-radius: 5px;
}
.App > main {
  flex-grow: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App h1{
  text-align: center;
}
.App h1>button{
  background: transparent;
  border-width: 0px;
  color: #2C8EBB;
  cursor: pointer;
}
.App >aside button:hover{
  color: red;
  background: #fff;
}

.App .todoList> li:nth-child(odd){
   background: #eee;
}
.App .todoList> li:nth-child(even){
  background: transparent;
}
