.TodoItem{
  width: 48em;
   padding: .75em;
   display: flex;
   align-items: center;
}
.TodoItem input[type="checkbox"]{
  display: none;
}
.TodoItem i{
  font-size: 2em;
  cursor: pointer;
}

 .TodoItem>.title{
   flex-grow: 1;
   padding: 0 .5em;
   width: 400px;
}
.TodoItem>.completed~.title{
  text-decoration: line-through;
  color: #888;
}
.TodoItem>button{
  font-size: 19px;
  cursor: pointer;
}
.TodoItem>button:hover{
  color: red;
}
